<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./assets/slick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

<div class="bg-blue pt-5 pb-3">
  <div class="container">
    <%- include modules/header.ejs %>
    <%- include modules/menu.ejs %>
  </div>
</div>
<div class="bg-soft search-widget inner">
  <div class="container">
    <div id="search-widget">Форма виджет</div>
  </div>
</div>

<div class="container py-5">
  <div class="breadcrumbs">
    <a href="/">Главная</a> <span class="mx-2">»</span> О клубе
  </div>



  <h1>Контакты</h1>
  <p><strong>Адрес загородного клуба "Медвежьи Озера": </strong></p>
  <p>Московская обл., Щелковский р-н, д. Медвежьи озёра, ул Берег озера, дом 1.</p>
  <p>&nbsp;</p>
  <p><strong>Способы оплаты для гостей</strong></p>
  <p><strong>Наличный расчет</strong> – на ресепшн у администратора</p>
  <p><strong>Оплата по картам VISA, MasterCard.</strong></p>
  <p><strong>Безналичный расчет</strong> - Р\сч  40702810900001403913 в  АКБ «ФОРА-БАНК» (АО),</p>
  <p>БИК 044525341, к/сч 30101810300000000341</p>
  <p><strong>Телефон \ факс</strong>&nbsp; +7(495) 988-26-83&nbsp;<br>
    <strong>Телефон \ факс</strong>&nbsp; +7(495) 363-29-69&nbsp;<br>
    <strong>Телефон \ факс</strong>&nbsp; +7(495) 737-63-67&nbsp;<br>
    <strong>Телефон</strong>&nbsp;<strong>&nbsp;</strong>+7(916) 616-37-60 (часы работы с 11.00 до 19.00)</p>
  <p>Территориальное расположение: Щелковское шоссе, 12 км от МКАД, на берегу Медвежьих озер.</p>
  <h3>Варианты проезда в загородный клуб "Медвежьи Озера":</h3>
  <ol>
    <li><strong>Общественным транспортом:</strong> м.Щелковская, далее любым автобусом до остановки "Новый городок", далее пешком 300 м до указателя "Загородный клуб Медвежьи Озера".</li>
    <li><strong>Личным автотранспортом: </strong>Дорога по Щелковскому шоссе до поворота на Медвежьи Озера занимает не более 35 минут, а при хорошей дороге - 15-20 минут.</li>
  </ol>
  <h3 style="text-align: left;">&nbsp;Мы ждем ваших писем на <a href="mailto:info-moclub@mail.ru">info-moclub@mail.ru</a>!</h3>






</div>

<%- include modules/footer.ejs %>


</body>
</html>





