<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./assets/slick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

<div class="bg-blue pt-5 pb-3">
  <div class="container">
    <%- include modules/header.ejs %>
    <%- include modules/menu.ejs %>
  </div>
</div>
<div class="bg-soft search-widget inner">
  <div class="container">
    <div id="search-widget">Форма виджет</div>
  </div>
</div>

<div class="container py-5">
  <div class="breadcrumbs">
    <a href="/">Главная</a> <span class="mx-2">»</span> О клубе
  </div>


  <h1>О клубе</h1>

  <h2>ПРАВИЛА ПРОЖИВАНИЯ В <br>
    «Загородном Клубе «Медвежьи Озёра».</h2>
  <ol>
    <li>Настоящие Правила предоставления гостиничных услуг «Загородным Клубом «Медвежьи Озёра» (далее – Клуб) разработаны на основе «Правил предоставления гостиничных услуг в Российской Федерации», утвержденных Постановлением Правительства РФ № 490 от 25.04.1997г. (в ред. Постановлений Правительства РФ № 1104 от 02.10.1999г., № 693 от 15.09.2000г., № 49 от 01.02.2005г.).</li>
    <li>Первоочередное право на размещение в Клубе получают лица, оплатившие бронирование номера/коттеджа (далее – номер). Подтверждением брони является выполнение условий, указанных в Условиях бронирования, являющихся приложением* к настоящим Правилам.</li>
    <li>В случае отказа Гостя от оплаченного номера(ов) денежные средства ему возвращаются с учетом положений, предусмотренных для возврата денежных средств при отказе от брони.</li>
    <li>Расчетный час: заезд в 17:00, выезд 15:00 (при готовности номера возможен заезд до расчетного часа).</li>
    <li>Оформление проживания Гостя в Клубе производится дежурным администратором на основании заполненной регистрационной анкеты и документа, удостоверяющего личность (паспорт), а для иностранных граждан дополнительно - при предъявлении миграционной карты.</li>
    <li>После оплаты всего срока проживания Гость получает у дежурного администратора ключ от номера, а также карту гостя на каждого проживающего в номере. Расчет за пользование мини-баром производится при выезде из Клуба.</li>
    <li>Завтрак «Шведский стол» при проживании в гостинице в выходные и континентальный завтрак в будни предоставляется с 09 час 00 минут до 11 час 00 минут.</li>
    <li>В случае пожелания Гостя продлить проживание в Клубе сверх оплаченного при размещении количества дней, его проживание может быть продлено только при наличии свободных номеров. В случае если номер, в котором проживает Гость, забронирован другим лицом, Гостю может быть предложен другой свободный номер.Оплата продления проживания производится в день продления.</li>
    <li>Плата за проживание, и продление проживания осуществляется согласно прейскуранту.
      <ol>
        <li>Тариф будние дни с понедельника по четверг.</li>
        <li>Тариф выходные дни пятница, суббота.</li>
      </ol>
    </li>
    <li>При проживании Гостя неполные сутки плата взимается за полные сутки.</li>
    <li>При наличии возможности, Клуб может предложить дополнительное место за отдельную плату в соответствии с действующим прейскурантом.</li>
    <li>В Клубе и на его территории не разрешается:
      <ol type="1" start="1">
        <li class="MsoNormal">Оставлять посторонних лиц в номере в свое отсутствие, а также передавать им ключи от номера;</li>
        <li class="MsoNormal">Использовать пиротехнические средства (фейерверки, бенгальские огни, петарды и т.д.);</li>
        <li class="MsoNormal">Курить в необорудованных для этого помещениях;</li>
        <li class="MsoNormal">Хранить в номере громоздкие вещи, легковоспламеняющиеся, взрывчатые, токсичные, наркотические материалы и вещества, огнестрельное оружие;</li>
        <li class="MsoNormal">Открыто носить любые виды гражданского, служебного, боевого оружия, имеющегося у Гостей Клуба, в том числе при исполнении ими служебных обязанностей, а также специальных средств снаряжения;</li>
        <li class="MsoNormal">Пользоваться дополнительными нагревательными приборами (обогреватель, кипятильник и т.д.);</li>
        <li class="MsoNormal">Загрязнять территорию (для сбора мусора предназначены урны и пепельницы);</li>
        <li class="MsoNormal">Разведение костров на территории базы и на берегу озера;</li>
        <li class="MsoNormal">Переставлять, выносить из номера мебель, постельные принадлежности и иное имущество отеля;</li>
        <li class="MsoNormal">Нахождение домашних животных и птиц;</li>
        <li class="MsoNormal">Вход в любой из ресторанов Клуба со своими напитками и продуктами запрещен. Употребление своих напитков и продуктов разрешен на специально отведенных площадках;</li>
        <li class="MsoNormal">Нарушать покой других Гостей после 23:00 час;</li>
      </ol>
    </li>
    <li>В случае несоблюдения Гостем вышеуказанных требований, а также нарушения общепризнанных норм поведения, администрация вправе отказать Гостю в предоставлении услуг и досрочно выселить из Клуба без возвращения Гостю денежных средств за оплаченные, но неполученные услуги, включая проживание.</li>
    <li>По просьбе Гостя разрешается пребывание (с 09:00 до 22:00) в Клубе приглашенных им лиц, при условии предъявления документа, удостоверяющего личность (паспорта) и оплаты карты гостя согласно прейскуранту.</li>
    <li>Гость обязан:
      <ol type="1" start="1">
        <li class="MsoNormal">Обеспечивать сохранность жилых помещений, бережно относиться к имуществу и помещениям отеля, санитарно-техническому и иному оборудованию, соблюдать правила пожарной безопасности, правила пользования санитарно-техническим и иным оборудованием (запрещается бросать в систему канализации средства личной гигиены и другие предметы быта). При обнаружении неисправностей в жилом помещении немедленно сообщить о них администрации Клуба;</li>
        <li class="MsoNormal">Не допускать в жилых помещениях и в местах общего пользования концентрации дыма, приводящей к срабатыванию пожарной сигнализации;</li>
        <li class="MsoNormal">С уважением относиться к другим отдыхающим и не нарушать их покой (в период с 23.00 до 9.00 соблюдать тишину);</li>
        <li class="MsoNormal">Соблюдать, установленный порядок проживания и чистоту, бережно относиться к объектам благоустройства и зеленым насаждениям, не допускать загрязнения территории отеля;</li>
        <li class="MsoNormal">Внимательно относиться к соблюдению всех мер безопасности поведения на воде, в лесу, у открытого огня;</li>
        <li class="MsoNormal">Допускать в занимаемое жилое помещение работников эксплуатационных организаций и представителей администрации отеля для осмотра технического и санитарного состояния жилого помещения, санитарно-технического и иного оборудования, находящегося в нем, а также для выполнения необходимых ремонтных и профилактических работ;</li>
        <li class="MsoNormal">Покидая номер закрыть водозаборные краны, окна, выключить свет и другие электроприборы;</li>
        <li class="MsoNormal">Возместить ущерб в случае утраты или повреждения имущества Клуба лично или за приглашенного им лица, согласно действующему «Прейскуранту цен на порчу гостиничного имущества», а также нести ответственность за иные нарушения в соответствии с законодательством РФ. Оплата ущерба производится по отъезду наличными;</li>
        <li class="MsoNormal">По окончании срока проживания сдать номер и ключ от номера дежурному администратору и произвести полный расчет за предоставленные услуги.</li>
      </ol>
    </li>
    <li>Гость при обнаружении недостатков в оказанной услуге вправе потребовать безвозмездного устранения недостатков.</li>
    <li>В Клубе Гость может воспользоваться следующими видами бесплатных услуг:
      <ol type="1" start="1">
        <li class="MsoNormal">Вызов скорой помощи, пользование медицинской аптечкой;</li>
        <li class="MsoNormal">Побудка к определенному времени;</li>
        <li class="MsoNormal">Доставка в номер корреспонденции, поступившей на имя Гостя;</li>
        <li class="MsoNormal">Вызов такси;</li>
        <li class="MsoNormal">Охраняемая парковка;</li>
        <li class="MsoNormal">Доступ в Интернет;</li>
      </ol>
    </li>
    <li>Дополнительные услуги предоставляются Гостям за отдельную плату. Информация о перечне и стоимости Дополнительных услуг предоставляется дежурным администратором.</li>
    <li>При проживании Гостя более 2 суток, во всех категориях номеров смена постельного белья и полотенец производится на третьи сутки с даты заезда. По просьбе Гостя может осуществляться досрочная смена постельного белья с дополнительной оплатой.</li>
    <li>В случае истечения срока проживания и отсутствии Гостя по месту проживания более 6 часов после расчетного часа (если проживание не продлено и не оплачено в срок), администрация Клуба вправе создать комиссию и сделать опись имущества, находящегося в номере отсутствующего Гостя, освободить номер.</li>
    <li>Администрация Клуба не несет ответственность за сохранность несданных на хранение в сейф документов, денег, ценных бумаг, драгоценностей, оставленных в номере. Драгоценности, деньги, документы и т.д. сдаются на хранение в сейф, находящийся у дежурного администратора.</li>
    <li>В случае обнаружения забытых вещей, администрация Клуба принимает меры к возврату их владельцам. Если в течение шести месяцев с момента находки лицо, правомочное получить найденную вещь, не будет установлено или само не заявит о своем праве на вещь, нашедший вещь приобретает право собственности на нее (Гражданский кодекс РФ части 1, 2, 3).</li>
    <li>Гость принимает к сведению и не возражает против факта использования в помещениях Клуба (за исключением номеров и туалетных кабин) систем видеонаблюдения.</li>
    <li>Книга отзывов и предложений находится у дежурного администратора и выдается по первому требованию Гостя.</li>
    <li>При разрешении конфликтных ситуаций Гость и Клуб руководствуются Законом РФ «О защите прав потребителей» и Постановлением Правительства от 25 апреля 1997 г. № 490 «Об утверждении Правил предоставления гостиничных услуг в Российской Федерации».</li>
    <li>Клуб не несёт ответственности за невозможность оказания услуг в период действия форс-мажорных обстоятельств, к которым относится: война, забастовки, эпидемии, стихийные бедствия, пожары и прочие обстоятельства непреодолимой силы.</li>
  </ol>




</div>

<%- include modules/footer.ejs %>


</body>
</html>





