<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./assets/slick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

<div class="bg-blue pt-5 pb-3">
  <div class="container">
    <%- include modules/header.ejs %>
    <%- include modules/menu.ejs %>
  </div>
</div>
<div class="bg-soft search-widget inner">
  <div class="container">
    <div id="search-widget">Форма виджет</div>
  </div>
</div>

<div class="container py-5">
  <div class="breadcrumbs">
    <a href="/">Главная</a> <span class="mx-2">»</span> О клубе
  </div>


  <h1>Скидка пенсионерам 15% на гостиничные номера</h1>

  <img class="img-fluid w-border b-radius shadow mb-5" src="./assets/img/main.png" alt="1">

  <ol>
    <li>При проживании Гостя неполные сутки плата взимается за полные сутки.</li>
    <li>При наличии возможности, Клуб может предложить дополнительное место за отдельную плату в соответствии с действующим прейскурантом.</li>
    <li>Дополнительные услуги предоставляются Гостям за отдельную плату. Информация о перечне и стоимости Дополнительных услуг предоставляется дежурным администратором.</li>
    <li>При проживании Гостя более 2 суток, во всех категориях номеров смена постельного белья и полотенец производится на третьи сутки с даты заезда. По просьбе Гостя может осуществляться досрочная смена постельного белья с дополнительной оплатой.</li>
    <li>В случае истечения срока проживания и отсутствии Гостя по месту проживания более 6 часов после расчетного часа (если проживание не продлено и не оплачено в срок), администрация Клуба вправе создать комиссию и сделать опись имущества, находящегося в номере отсутствующего Гостя, освободить номер.</li>
    <li>Администрация Клуба не несет ответственность за сохранность несданных на хранение в сейф документов, денег, ценных бумаг, драгоценностей, оставленных в номере. Драгоценности, деньги, документы и т.д. сдаются на хранение в сейф, находящийся у дежурного администратора.</li>
    <li>В случае обнаружения забытых вещей, администрация Клуба принимает меры к возврату их владельцам. Если в течение шести месяцев с момента находки лицо, правомочное получить найденную вещь, не будет установлено или само не заявит о своем праве на вещь, нашедший вещь приобретает право собственности на нее (Гражданский кодекс РФ части 1, 2, 3).</li>
    <li>Гость принимает к сведению и не возражает против факта использования в помещениях Клуба (за исключением номеров и туалетных кабин) систем видеонаблюдения.</li>
    <li>Книга отзывов и предложений находится у дежурного администратора и выдается по первому требованию Гостя.</li>
    <li>При разрешении конфликтных ситуаций Гость и Клуб руководствуются Законом РФ «О защите прав потребителей» и Постановлением Правительства от 25 апреля 1997 г. № 490 «Об утверждении Правил предоставления гостиничных услуг в Российской Федерации».</li>
    <li>Клуб не несёт ответственности за невозможность оказания услуг в период действия форс-мажорных обстоятельств, к которым относится: война, забастовки, эпидемии, стихийные бедствия, пожары и прочие обстоятельства непреодолимой силы.</li>
  </ol>




</div>

<%- include modules/footer.ejs %>


</body>
</html>





