<!DOCTYPE html>
<html>
<head>
  <title>Demo Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="./assets/slick.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

<div class="bg-blue pt-5 pb-3">
  <div class="container">
    <%- include modules/header.ejs %>
    <%- include modules/menu.ejs %>
  </div>
</div>
<div class="bg-soft search-widget inner">
  <div class="container">
    <div id="search-widget">Форма виджет</div>
  </div>
</div>

<div class="bg-soft top-shadow">
  <div class="container py-5">
    <div class="breadcrumbs">
      <a href="/">Главная</a> <span class="mx-2">»</span> О клубе
    </div>


    <h1>КОТТЕДЖ № 8</h1>

    <div class="object-gallery mb-5">
      <div class="slick-gallery__full" data-slick-full="true">
        <% for (var i = 0; i < 10; i++) { %>
          <figure>
            <div class="text">
              <h2 class="text-white">Почему параллельно абсолютно твёрдое тело?</h2>
              <p class="text-white">Стабилизатор позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует лазерный момент. Анапест отражает ускоряющийся реформаторский пафос, что можно рассматривать с достаточной степенью точности как для единого твёрдого тела. Транстекстуальность параллельна.</p>
            </div>
            <img src="./assets/img/main.png" alt="1">
          </figure>
        <% } %>
      </div>

      <div class="slick-gallery__thumbnails" data-slick-thumb="true">
        <% for (var i = 0; i < 10; i++) { %>
          <img src="./assets/img/main.png" alt="1">
        <% } %>
      </div>
    </div>


    <p class="fz-txt_32px mb-4">КОТТЕДЖ № 8</p>
    <p>Небольшой уютный номер выполнен в светлых тонах. В нем есть все необходимое для работы и отдыха. Номер оснащен двумя раздельными кроватями, которые легко сдвигаются при необходимости, и удобными ортопедическими матрасами, который позволяет насладиться полноценным отдыхом.</p>
    <p class="font-weight-bold">В номере:</p>
    <ul>
      <li>телевизор</li>
      <li>телефон</li>
      <li>косметические принадлежности</li>
      <li>летняя мебель на балконе</li>
    </ul>
    <p class="font-weight-bold">В стоимость номера входит:</p>
    <ul>
      <li>питание согласно выбранному тарифу проживания</li>
      <li>стоянка на территории один автомобиль на номер</li>
      <li>пляж летом</li>
      <li>каток зимой</li>
      <li>проживание и питание ребенка до пяти лет без размещения на дополнительном месте бесплатно.</li>
    </ul>

  </div>
</div>

<%- include modules/footer.ejs %>


</body>
</html>





