<nav class="m-auto">
  <ul class="pagination">
    <li class="page-item"><a class="page-link pagination__start" href="#"></a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <div class="page-link">2</div>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link pagination__end" href="#"></a></li>
  </ul>
</nav>
