<div class="container pt-5">
  <p class="font-weight-bold fz-txt_52px">НАШИ АКЦИИ</p>
  <div class="position-relative">
    <a href="#" class="act-slider-prev slick-arrow slick-prev col-c-black"></a>
    <a href="#" class="act-slider-next slick-arrow slick-next col-c-black"></a>
    <div class="act-slider">
      <div class="pic-block b-radius shadow">
        <img class="img-fluid" src="./assets/upload/act1.jpg" alt="">
        <div class="info">
          <p class="fz-txt_20px font-weight-bold mb-1">Антивирусный заезд</p>
          <p>Сбалансированное питание и ежедневные тренировки</p>
          <p class="font-weight-bold bottom">Скидка 30% на посещение СПА-зоны</p>
        </div>
      </div>
      <div class="pic-block b-radius shadow">
        <img class="img-fluid" src="./assets/upload/act2.jpg" alt="">
        <div class="info">
          <p class="fz-txt_20px font-weight-bold mb-1">Мама и дитя</p>
          <p>Каникулы на свежем воздухе Питание полный пансион</p>
          <p class="font-weight-bold bottom">Скидка 35% на 3и и последующие сутки</p>
        </div>
      </div>
      <div class="pic-block b-radius shadow">
        <img class="img-fluid" src="./assets/upload/act3.jpg" alt="">
        <div class="info">
          <p class="fz-txt_20px font-weight-bold mb-1">Скидка пенсионерам 15%</p>
          <p>На гостиничные номера</p>
          <p class="font-weight-bold bottom">Кроме праздничных заездов</p>
        </div>
      </div>
      <div class="pic-block b-radius shadow">
        <img class="img-fluid" src="./assets/upload/act4.jpg" alt="">
        <div class="info">
          <p class="fz-txt_20px font-weight-bold mb-1">Скидка 15%</p>
          <p>KIBERSALE</p>
          <p class="font-weight-bold bottom">Только при заказе и предоплаты на сайте</p>
        </div>
      </div>
    </div>
  </div>
</div>
