<nav class="" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">
        <i aria-hidden="true" class="fa fa-home"></i>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a>Dashboards</a>
    </li>
    <li class="active breadcrumb-item" aria-current="page">
      Minimal Dashboard Example
    </li>
  </ol>
</nav>
