<div class="bg-green pt-5  pb-5">
  <div class="container">
    <div class="row align-items-center">
      <p class="col-auto fz-txt_36px text-white mb-0">Коттеджи</p>
      <div class="col-auto mb-3">
        <div class="inner-slider-dots"></div>
      </div>
    </div>
    <div class="four-slider">
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k1.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №1</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k2.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №2</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k3.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №3</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k4.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №4а</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k5.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №4б</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k6.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №5</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k7.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №6</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k8.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №7</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k9.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №8</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k10.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №9</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k11.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №10</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k12.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №11</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/k13.jpg" alt="">
        </div>
        <a href="#" class="text-white">Коттедж №14,15,16</a>
      </div>
    </div>
  </div>
</div>
