<div class="bg-wood pt-5 pb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 my-4">
        <p class="font-weight-bold fz-txt_52px">КОНТАКТЫ</p>
        <p class="fz-txt_22px">Загородный клуб<br>«Медвежьи озёра»</p>
        <p>Московская обл., Щелковский р-н, д. Медвежьи озёра, ул Берег озера, дом 1.</p>
        <p>
          <span class="col-c-blue fz-txt_20px">Бронирование</span>
          <span class="d-inline-block">+7 (495) 988-26-83</span>
          <span class="d-inline-block">+7 (495) 363-29-69</span>
          <span class="d-inline-block">+7 (495) 737-63-67</span>
          <span class="d-inline-block"><a href="mailto:info@moclub.ru">info@moclub.ru</a></span>
        </p>
        <p>
          <span class="col-c-blue fz-txt_20px">Банкетная служба</span>
          <span class="d-inline-block">+7 (916) 616-37-60</span>
        </p>
      </div>
      <div class="col-lg-8 my-4">
        <div class="b-radius b-border overflow-hidden">
          <div class="map" id="map" data-lon="38,001520" data-lat="55,869237" data-zoom="10"></div>
        </div>
      </div>
    </div>
    <div class="row align-content-end">
      <div class="col-md-4 d-flex align-items-end">
        <div>
          <p class="font-weight-bold fz-txt_24px mb-1">2000-2020</p>
          <p class="font-weight-bold fz-txt_15px mb-0">Загородный клуб «Медвежьи озёра»</p>
        </div>
      </div>
      <div class="col-md-auto d-flex align-items-end">
        <div class="d-flex align-items-end">
          <a href="#" class="mr-3 text-decoration-none">
            <i class="icon icon_ic1 col-c-black fz-txt_16px"></i>
          </a>
          <a href="#" class="mr-3 text-white text-decoration-none">
            <i class="icon icon_ic2 col-c-black fz-txt_16px"></i>
          </a>
          <a href="#" class="mr-3 text-white text-decoration-none">
            <i class="icon icon_ic3 col-c-black fz-txt_24px"></i>
          </a>
          <a href="#" class="text-white text-decoration-none">
            <i class="icon icon_ic4 col-c-black fz-txt_18px"></i>
          </a>
        </div>
      </div>
      <div class="col-md-auto d-flex align-items-end">
        <a href="#">Карта сайта</a>
      </div>
      <div class="col-md-auto ml-auto d-flex align-items-end">
        <a class="text-decoration-none" href="#"><img src="./assets/img/berega.png" alt=""></a>
      </div>
    </div>
  </div>

</div>
