<div class="row header">
  <div class="col-lg-3 col-md-6 order-1 order-lg-0 col-6">
    <div class="d-flex mb-4">
      <div class="round mr-3">
        <i class="icon icon_lock"></i>
      </div>
      <div class="text-white mt-1">
        <p class="fz-txt_24px font-weight-bold mb-1">Бронирование</p>
        <p class="fz-txt_15px mb-2">+7 (495) 988-26-83</p>
        <p class="fz-txt_15px mb-2">+7 (495) 363-29-69</p>
        <p class="fz-txt_15px mb-2">+7 (495) 737-63-67</p>
        <a href="#" class="fz-txt_15px text-white">info@moclub.ru</a>
      </div>
    </div>
    <div class="d-flex align-items-end">
      <a href="#" class="mr-3 text-white text-decoration-none">
        <i class="icon icon_ic1"></i>
      </a>
      <a href="#" class="mr-3 text-white text-decoration-none">
        <i class="icon icon_ic2"></i>
      </a>
      <a href="#" class="mr-3 text-white text-decoration-none">
        <i class="icon icon_ic3"></i>
      </a>
      <a href="#" class="text-white text-decoration-none">
        <i class="icon icon_ic4"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-5 text-center order-0 order-lg-1">
    <a href="/"><img class="img-fluid mb-4 mb-lg-0 logo" src="./assets/vectors/logo.svg" alt=""></a>
  </div>
  <div class="col-lg-4 col-md-6 order-2 order-lg-2 col-6">
    <div class="d-flex mb-3">
      <div class="round mr-3">
        <i class="icon icon_rest"></i>
      </div>
      <div class="text-white mt-1">
        <p class="fz-txt_24px font-weight-bold mb-1">Банкетная служба</p>
        <p class="fz-txt_15px mb-2">+7 (916) 616-37-60</p>
      </div>
    </div>
    <div class="d-flex pb-2">
      <div class="round green mr-3">
        <i class="icon icon_owl"></i>
      </div>
      <div class="text-white">
        <p class="fz-txt_15px font-weight-bold mb-0">Сертификат 2019
        </p>
        <a href="#" class="fz-txt_15px text-white">Прочесть отзывы</a>
      </div>
    </div>
    <div class="d-flex pt-5 align-items-center">
      <a href="#"><img class="mr-3" src="./assets/img/tuch.png" alt=""></a>
      <div class="text-white text-hotel">
        <p class="fz-txt_13px mb-0">Сеть отелей</p>
        <p class="fz-txt_13px mb-0">«Подмосковные берега»</p>
      </div>
    </div>
  </div>
</div>
