<nav class="navbar navbar-expand-lg mt-4">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-fill w-100">
      <li class="nav-item">
        <a class="nav-link" href="#">О клубе</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#">
          Номера
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-menu__color">
            <a class="dropdown-item" href="#">Стандарт</a>
            <a class="dropdown-item" href="#">Бизнес</a>
            <a class="dropdown-item" href="#">Полу-люкс</a>
            <a class="dropdown-item" href="#">Люкс</a>
            <a class="dropdown-item" href="#">Президентский люкс</a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#">
          Коттеджи
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-menu__color">
            <a class="dropdown-item" href="#">Коттедж № 1</a>
            <a class="dropdown-item" href="#">Коттедж № 2</a>
            <a class="dropdown-item" href="#">Коттедж № 3</a>
            <a class="dropdown-item" href="#">Коттедж № 4А</a>
            <a class="dropdown-item" href="#">Коттедж № 4Б</a>
            <a class="dropdown-item" href="#">Коттедж № 5</a>
            <a class="dropdown-item" href="#">Коттедж № 6</a>
            <a class="dropdown-item" href="#">Коттедж № 7</a>
            <a class="dropdown-item" href="#">Коттедж № 8</a>
            <a class="dropdown-item" href="#">Коттедж № 9</a>
            <a class="dropdown-item" href="#">Коттедж № 10</a>
            <a class="dropdown-item" href="#">Коттедж № 11</a>
            <a class="dropdown-item" href="#">Коттеджи № 14,15,16</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Рестораны</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Цены</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Акции</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Цены</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SPA центр</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Конференции</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Новости</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Галерея</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакты</a>
      </li>
    </ul>
  </div>
</nav>
