<div class="bg-blue rest pt-5">
  <div class="container">
    <div class="row align-items-center">
      <p class="col-auto fz-txt_36px mb-0 text-white">РЕСТОРАНЫ</p>
      <div class="col-auto mb-2">
        <a href="#" class="btn"><i class="icon icon_rest mr-2"></i>Посмотреть все</a>
      </div>
    </div>

  </div>
  <div class="rest-slider">
    <div class="pic-block ">
      <div class="row align-items-center">
        <div class="col-md-4"><img class="img-fluid b-radius w-border" src="./assets/upload/1.jpg" alt=""></div>
        <div class="col-md-8 my-4">
          <p class="font-weight-bold fz-txt_20px text-white">«Ресторан на воде»</p>
          <p class="text-white">Флагман Загородного клуба «Медвежьи озера» - самый большой и новый зал построен в 2016 году. Ресторан отличается своей продуманной планировкой, позволяющей устраивать различные зоны для проведения масштабных мероприятий от 40 до 150 гостей. Зал оформлен в чистых, светлых тонах располагает открытой верандой с видом на озера.</p>
          <a href="#" class="btn">Подробнее »</a>
        </div>
      </div>
    </div>
    <div class="pic-block ">
      <div class="row align-items-center">
        <div class="col-md-4"><img class="img-fluid b-radius w-border" src="./assets/upload/2.jpg" alt=""></div>
        <div class="col-md-8 my-4">
          <p class="font-weight-bold fz-txt_20px text-white">Ресторан «Малая медведица»</p>
          <p class="text-white">Небольшой уютный зал поддерживает традиционный для отеля стиль горной деревни, позволяет размещать банкеты от 20 до 60 человек. Зал оформлен в светлых тонах с панорамными окнами и верхним естественным светом. Выразительным архитектурным элементом ресторана является просторная веранда с видом на озеро, на которой в теплое время года можно устраивать церемонии на открытом воздухе.</p>
          <a href="#" class="btn">Подробнее »</a>
        </div>
      </div>
    </div>
    <div class="pic-block ">
      <div class="row align-items-center">
        <div class="col-md-4"><img class="img-fluid b-radius w-border" src="./assets/upload/3.jpg" alt=""></div>
        <div class="col-md-8 my-4">
          <p class="font-weight-bold fz-txt_20px text-white">Ресторан «Большая медведица»</p>
          <p class="text-white">Просторный зал в стиле горного шале для комфортного размещения банкетов от 30 до 120 человек. Натуральное дерево, камень, камин, масштабные окна - те архитектурные элементы, которые уместны для событий любого формата. Декоративным элементом ресторана является настоящий массивный камин, отапливаемый поленьями. Ресторан располагается на живописной лужайке в окружении леса и озер, позволяющей проводить уличные мероприятия.</p>
          <a href="#" class="btn">Подробнее »</a>
        </div>
      </div>
    </div>
  </div>
</div>
