<div class="bg-soft pt-5 pb-5">
  <div class="container">
    <div class="row align-items-center">
      <p class="col-auto fz-txt_36px mb-0">Гостиничные номера</p>
      <div class="col-auto mb-3">
        <div class="inner-slider-dots"></div>
      </div>
    </div>
    <div class="four-slider">
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/n1.jpg" alt="">
        </div>
        <a href="#" class="col-c-black">Стандартный</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/n2.jpg" alt="">
        </div>
        <a href="#" class="col-c-black">Бизнес</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/n3.jpg" alt="">
        </div>
        <a href="#" class="col-c-black">Полу-люкс</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/n4.jpg" alt="">
        </div>
        <a href="#" class="col-c-black">Люкс</a>
      </div>
      <div class="pic-block rooms-element">
        <div class="position-relative mb-3">
          <a href="#" class="btn shadow"><i class="icon icon_lock fz-txt_14px mr-2"></i> Забронировать</a>
          <img class="img-fluid b-radius w-border shadow" src="./assets/upload/n5.jpg" alt="">
        </div>
        <a href="#" class="col-c-black">Президентский люкс</a>
      </div>
    </div>
  </div>
</div>
