.breadcrumbs {
  display: inline-block;
  background: $c-soft;
  padding: 1rem;
  margin-bottom: 3rem;
  color: $c-black;
  * {
    color: $c-black;
  }
  a {
    color: #ffffff;
  }
}

.bg-soft, .bg-green, .bg-blue {
  .breadcrumbs {
    background: #fff;
    a {
      color: $c-soft;
    }
  }
}
