.btn{
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  background: #fff;
  border-radius: 2rem;
  text-decoration: none;
  font-size: $txt_14px;
  padding: 0.25rem 0.5rem;
  color: $black;
  &:hover {
    background: $c-soft;
  }
}



