.news {
  align-items: center;
  margin-bottom: 3rem;
  img {
    object-fit: cover;
    height: 14rem;
    @media(max-width:768px) {
      margin-bottom: 2rem;
      width: 100%;
      height: auto;
    }
  }
  &__caption {
    font-size: $txt_16px;
    text-decoration: underline;
    max-width: 27rem;
    display: inline-block;
    margin-bottom: 1rem;
  }
}
