.bg-c-black { background: $c-black;}
.bg-c-blue { background: $c-blue;}
.bg-c-green { background: $c-green;}
.bg-c-soft { background: $c-soft;}

.col-c-black { color: $c-black;}
.col-c-blue { color: $c-blue;}
.col-c-green { color: $c-green;}
.col-c-soft { color: $c-soft;}


.fz-txt_10px{ font-size: $txt_10px!important;}
.fz-txt_11px{ font-size: $txt_11px!important;}
.fz-txt_12px{ font-size: $txt_12px!important;}
.fz-txt_13px{ font-size: $txt_13px!important;}
.fz-txt_14px{ font-size: $txt_14px!important;}
.fz-txt_15px{ font-size: $txt_15px!important;}
.fz-txt_16px{ font-size: $txt_16px!important;}
.fz-txt_18px{ font-size: $txt_18px!important;}
.fz-txt_20px{ font-size: $txt_20px!important;}
.fz-txt_22px{ font-size: $txt_22px!important;}
.fz-txt_24px{ font-size: $txt_24px!important;}
.fz-txt_28px{ font-size: $txt_28px!important;}
.fz-txt_32px{ font-size: $txt_32px!important;}
.fz-txt_36px{ font-size: $txt_36px!important;}
.fz-txt_48px{ font-size: $txt_48px!important;}
.fz-txt_52px{ font-size: $txt_52px!important;
  @media(max-width:768px) {
    font-size: $txt_28px!important;
  }
}
