.bg-c-blue { background: $c-blue;}
.bg-c-d-blue { background: $c-d-blue;}
.bg-c-gray { background: $c-gray;}
.bg-c-yellow { background: $c-yellow;}
.bg-c-l-blue { background: $c-l-blue;}
.bg-c-d-green { background: $c-d-green;}
.bg-c-l-green { background: $c-l-green;}
.bg-c-red { background: $c-red;}
.bg-c-text-1 { background: $c-text-1;}
.bg-c-text-2 { background: $c-text-2;}
.bg-c-text-3 { background: $c-text-3;}
.bg-c-text-4 { background: $c-text-4;}
.bg-c-text-5 { background: $c-text-5;}

.col-c-blue { color: $c-blue;}
.col-c-d-blue { color: $c-d-blue;}
.col-c-gray { color: $c-gray;}
.col-c-yellow { color: $c-yellow;}
.col-c-l-blue { color: $c-l-blue;}
.col-c-d-green { color: $c-d-green;}
.col-c-l-green { color: $c-l-green;}
.col-c-red { color: $c-red;}
.col-c-text-1 { color: $c-text-1;}
.col-c-text-2 { color: $c-text-2;}
.col-c-text-3 { color: $c-text-3;}
.col-c-text-4 { color: $c-text-4;}
.col-c-text-5 { color: $c-text-5;}

.fz-txt_10px{ font-size: $txt_10px!important;}
.fz-txt_11px{ font-size: $txt_11px!important;}
.fz-txt_12px{ font-size: $txt_12px!important;}
.fz-txt_13px{ font-size: $txt_13px!important;}
.fz-txt_14px{ font-size: $txt_14px!important;}
.fz-txt_16px{ font-size: $txt_16px!important;}
.fz-txt_18px{ font-size: $txt_18px!important;}
.fz-txt_20px{ font-size: $txt_20px!important;}
.fz-txt_22px{ font-size: $txt_22px!important;}
.fz-txt_28px{ font-size: $txt_28px!important;}
.fz-txt_32px{ font-size: $txt_32px!important;}
.fz-txt_48px{ font-size: $txt_48px!important;}
.fz-txt_64px{ font-size: $txt_64px!important;}
