$icons: (
  ('arr_l' '\e900' 1rem)
  ('arr_r' '\e901' 1rem)
  ('lock' '\e902' 1.2rem)
  ('rest' '\e903' 1rem)
  ('owl' '\e904' 1rem)
  ('ic1' '\e907' 1.4rem)
  ('ic2' '\e908' 1.4rem)
  ('ic3' '\e905' 2.3rem)
  ('ic4' '\e906' 1.5rem)
);

.icon {
  font-size: 1rem;
  font-style: normal;

  @each $icon in $icons {
    &_#{nth($icon, 1)} {
      font-family: 'icomoon';
      font-size: nth($icon, 3) !important;
      &:before{
        content: nth($icon, 2); 
      }
    }
  }
}



