$path-assets: "../assets";
$path-fonts: "#{$path-assets}/fonts";

$font-family-sans-serif: "Roboto", Arial, sans-serif;


$c-blue: #375FD2;

$c-yellow: #F6B021;
$c-l-blue: #60B5C5;
$c-d-green: #33BC72;
$c-d-blue: #2D55C6;
$c-l-green: #A0C537;
$c-red: #D42147;
$c-gray: #EFF2F5;
$c-text-1: #45474B;
$c-text-2: #575E72;
$c-text-3: #666B71;
$c-text-4: #999A9C;
$c-text-5: #A0A3A6;


$l-menu-width: 220px;
$l-menu-width-medium: 80px;

$header-height: 40px;

$big-photo: 25rem;


$txt_10px: 0.625rem;
$txt_11px: 0.6875rem;
$txt_12px: 0.75rem;
$txt_13px: 0.8125rem;
$txt_14px: 0.875rem;
$txt_16px: 1rem;
$txt_18px: 1.125rem;
$txt_20px: 1.25rem;
$txt_22px: 1.375rem;
$txt_28px: 1.75rem;
$txt_32px: 2rem;
$txt_48px: 3rem;
$txt_64px: 4rem;
