$path-assets: "../assets";
$path-fonts: "#{$path-assets}/fonts";

$font-family-sans-serif: "Muller", Arial, sans-serif;

$c-black: #231F20;
$c-blue: #386E80;
$c-green: #2B451F;
$c-soft: #CCBA99;

$txt_10px: 0.625rem;
$txt_11px: 0.6875rem;
$txt_12px: 0.75rem;
$txt_13px: 0.8125rem;
$txt_14px: 0.875rem;
$txt_15px: 0.938rem;
$txt_16px: 1rem;
$txt_18px: 1.125rem;
$txt_20px: 1.25rem;
$txt_22px: 1.375rem;
$txt_24px: 1.5rem;
$txt_28px: 1.75rem;
$txt_32px: 2rem;
$txt_36px: 2.25rem;
$txt_48px: 3rem;
$txt_52px: 3rem;
$txt_64px: 4rem;
